* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --main-color: rgba(243, 184, 23, 1);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.home .home_box {
  width: 80%;
  height: 500px;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.home .home_box .logo {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
.home .home_box .sign-in {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  padding: 12px;
  max-width: 350px;
  border-radius: 8px;
  border: none;
  background-color: rgb(234, 226, 204);
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  color: black;
}

body {
  background-color: var(--main-color);
}

header {
  width: 100%;

  height: 100px;
  display: flex;
  justify-content: center;
}

header nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

header nav img {
  width: 80px;
  height: 80px;
}
header nav .exit {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .date {
  display: flex;
  color: rgba(120, 120, 120, 1);
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  padding: 2px;
}
.container .add {
  width: 40px;
  height: 40px;
}
