* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(243, 184, 23, 1);
}

.sign-in {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  padding: 12px;
  max-width: 400px;
  border-radius: 8px;
  border: none;
  background-color: rgb(234, 226, 204);
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  color: black;
}
