* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --main-color: rgba(243, 184, 23, 1);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.home .home_box {
  width: 80%;
  height: 500px;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.home .home_box .logo {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
.home .home_box .sign-in {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  padding: 12px;
  max-width: 350px;
  border-radius: 8px;
  border: none;
  background-color: rgb(234, 226, 204);
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  color: black;
}

body {
  background-color: var(--main-color);
}

header {
  width: 100%;

  height: 100px;
  display: flex;
  justify-content: center;
}

header nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

header nav img {
  width: 80px;
  height: 80px;
}
header nav .exit {
  font-size: 1.5rem;
}

/* ------------------------containerDashboard----------------- */
.containerDashboard {
  width: 80%;
  margin-inline: auto;
}
.containerDashboard img {
  width: 300px;
  margin-top: 30px;
}

.containerDashboard .container-txt {
  padding-top: 70px;
  width: 100%;
  text-align: center;
  color: white;
}

.containerDashboard .container-txt .txt-xl {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.containerDashboard .container-txt .txt-md {
  font-size: 1.2rem;
  margin-bottom: 60px;
}

.containerDashboard .container-txt .btn-dashboard {
  width: 100%;
  padding: 1rem 7.8rem;
  border-radius: 3px;
  border: none;
  background-color: white;
  color: black;
}

.container .date {
  display: flex;
  color: rgba(120, 120, 120, 1);
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  padding: 2px;
}

.container .add {
  width: 40px;
  height: 40px;
}

.container {
<<<<<<< HEAD
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
=======
  display: flex;
  flex-direction: column;
  align-items: center;
>>>>>>> 144310fb5de6e957ed03712ef1a07b1b22c9f261
}
.task-bx {
  background-color: white;
  width: 100%;
  height: 80vh;
  margin-top: 15%;
  border-radius: 2%;
<<<<<<< HEAD
  flex-direction: column;
  display: flex;
  gap: 15px;
=======
>>>>>>> 144310fb5de6e957ed03712ef1a07b1b22c9f261
}

.task-bx .count {
  margin-left: 20px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.task-card {
  background-color: rgba(243, 184, 23, 1);
  width: 90%;
  margin-left: 20px;
  padding: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 99%;
  font-weight: bold;
}
<<<<<<< HEAD

.container .form{
  margin-inline: auto;
  padding-bottom: 1px;
  width: 400px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 14px;
  border: 1px solid black;
}
.container .form h2{
  background-color: rgb(243, 181, 12);
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom: 1px solid black;
  gap: 30%;
}
.container .form input{
  padding: 5px;
  width: 90%;
  border-radius: 14px;
  border: 1px solid black;
}
.container .form button{
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 70%;
  height: 30px;
  padding: 5px;
  border-radius: 14px;
  border: 1px solid black;
  background-color: rgb(180, 178, 178);
}
.container .hidden{
  width: 100%;
 display: none; 
}

.container .formBox .exit{
margin-right: auto;
}
=======
>>>>>>> 144310fb5de6e957ed03712ef1a07b1b22c9f261
